/* stylesheet */

body, html {
    font-family: "Klavika", "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
    background-color: #000;
    overflow: hidden;
}

h2 {
    margin: 0;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000;
}

p {
    -webkit-font-smoothing: antialiased;
}

/* background element styles */
.background-container {
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: auto;
    transition: all 2s ease;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    max-height: 100%;
}

.background-wrapper {
    width: 100%;
}

/* css used to move background */
.background-section-0 {
    transform: translateY(0%);
}

.background-section-1 {
    transform: translateX(-11%);
}

.background-section-2 {
    transform: translateX(-19%);
}

.background-section-3 {
    transform: translateX(-31%);
}

.background-section-4 {
    transform: translateX(-42.5%);
}

.background-section-5 {
    transform: translateX(-55%);
}

.background-section-6 {
    transform: translateX(-67%);
}

.background-section-7 {
    transform: translateX(-80%);
}

.background-section-8 {
    transform: translateX(-83%);
}

.background-section-9 {
    transform: translateX(-100%);
}


/* section element styles */

.section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100px;
    right: 100px;
    transition: all 1s ease;
    height: calc(100vh - 144px);
}

.section-nine {
    z-index: 4000;
}

.section-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.section-hidden {
    visibility: hidden;
    opacity: 0;
}

.section-header {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}
/* fixed-screen container */
.screen-fixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    background-color: transparent;
    overflow: hidden;
}

/* header element styles */
.header-topleft {
    margin-top: 50px;
    margin-left: -50px;
    align-self: flex-start;
}

.header-center {
    justify-content: center;
}

.header-topright {
    margin-top: 50px;
    margin-right: -50px;
    align-self: flex-start;
    text-align: right;
    box-sizing: border-box;
}

.header-right {
    text-align: right;
}

.number-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1100;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;
    z-index: 5000;
}

.number-controls-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.number-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 2px 0 2px 0;
    margin: 0;
    border: 1px solid #FFF;
}

.number {
    border-right: 1px solid #FFF;
}

.number:last-child {
    border-right: none;
}

.number-span {
    display: block;
    width: 20px;
    height: 16px;
    margin: 0 2px 0 2px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.number-span:hover {
    background-color: #FFF;
    cursor: pointer;
}

.number-active {
    background-color: #FFF
}

.section-of {
    margin: 0;
    transition: all 1s ease;
}

.section-of-hidden {
    visibility: hidden;
    opacity: 0;
}

.logo-container {
    width: 100px;
    margin-left: auto;
}

.logo {
    width: 100%;
}

/* arrows styling*/
.arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: calc(100vh - 144px);
    width: 75px;
    align-items: center;
    background-color: transparent;
    transition: all 0.5s ease;
}

.arrow:hover {
    width: 100px;
    cursor: pointer;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-image {
    width: 50px;
}

.arrow-hidden {
    visibility: hidden;
    opacity: 0;
}


/* end arrows styling */


/* social */

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 3000;
}

.icon {
    padding-right: 5px;
}

.icon-image {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -2px;
}

.social {
    display: flex;
    height: 20px;
    align-items: center;
    padding-right: 10px;
}

.social:last-child {
    padding-right: 0;
}

.social-link {
    text-decoration: none;
    color: #FFF;
}

.social-link:hover {
    text-decoration: underline;
}

.social-link:visited {
    color: #FFF;
}

.icon-facebook {
    background-image: url(../assets/images/facebook.svg)
}

.icon-twitter {
    background-image: url(../assets/images/twitter.svg)
}

.icon-mail {
    background-image: url(../assets/images/mail.svg)
}

@media only screen and (max-width: 700px) {

    body {
        font-size: 14px;
    }

    h2 {
        font-size: 40px;
    }

    .arrow {
        width: 45px;
    }

    .arrow:hover {
        width: 60px;
    }

    .arrow-image {
        width: 30px;
    }

    .section {
        left: 55px;
        right: 55px;
    }

    .header-topleft {
        margin-left: -25px;
    }

    .header-topright {
        margin-right: -25px;
    }

    .number-span {
        width: 18px;
        height: 16px;
    }
}